RewriteEngine On

# Prevent infinite redirect loops for ecommerce or lms
RewriteCond %{REQUEST_URI} ^/(ecommerce|lms)/ [NC]
RewriteRule ^ - [L]

# Redirect all requests to index.php if the file or folder does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]